<div>
  <div>
    <a id="changing_station" href="<%= find_amenities_path('changing_stations')%>">Brown Alert</a>
  </div>

  <div>
    <a id="nursing_stations" href="<%= find_amenities_path('nursing_stations')%>">Milk Alert</a>
  </div>

</div>

