<div id="brown-alert">
  <%= link_to "Change Me", find_amenities_path('changing_stations'), class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast alert", class: "changing" %>

  <%= link_to "Nourish Me", find_amenities_path('changing_stations'), class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast alert", class: "nursing" %>

  <%= link_to "Search by Amenity", search_amenities_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast" %>

  <%= link_to "Check In Amenity", report_amenities_path, class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast" %>
</div>

