.selected-row {
  background-color: #66CCFF;
}

html, body{
  height: 100%;
  width: 100%;
}

div#map-canvas{
	height: 50%;
	width: 60%;
	float:right;
	margin-right: 5%;
}

div#api-search-locations-checkin{
	float:left;
	width:35%;
}
