
div#api-search-locations-checkin{
  float:left;
  width:35%;
  margin-left: .5em;
}

.selected-row {
  background-color: #66CCFF;
}

.result-row {
  border: 1px solid black;
  box-shadow: 2px 2px 2px #424C55;
  border-radius: 15px;
  text-align: center;
  padding: 10px;
}

.checkin-icon {
  pointer-events: none;
}

.new-location-form-checkin{
  position: fixed;
  left: 50%;
}

