.primary {
  @include background-opacity($color-divider-color, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin-top:350px;
  border-radius: 5px;
}

.home-details {
  justify-content: space-around;
}

.queried-locations {
  text-align: left;
}

.queried-location {
  margin: 20px auto;
}

.queried-location-name {
  color: $color-primary-dark;
}

div#api-search-locations-checkin{
  float:left;
  width:35%;
  margin-left: .5em;
}

.selected-row {
  background-color: #66CCFF;
}

.result-row {
  border: 1px solid black;
  box-shadow: 4px 4px 4px #424C55;
  border-radius: 15px;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

.checkin-icon {
  pointer-events: none;
}

.new-location-form-checkin{
  position: fixed;
  left: 50%;
}

.location-show, .location-new {
  max-width: 1000px;
  h2 {
    font-size: 35px;
    font-weight: 400;
  }
  h3 {
    margin: 0;
    line-height: auto;
  }
}

.demo-card-wide.mdl-card {
  width: 100%;
}

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.location-card .mdl-card__supporting-text {
  display: flex;
  flex-direction: row;
}

.location_details, .location_ratings {
  margin-right: 15px;
}
.amenities.mdl-card {
  background-color: $color-accent;
}
.amenities .mdl-card__actions {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

.amenities .material-icons {
  color: rgba(255,255,255,0.89);
}

.location_reviews {
  margin-top: 30px;
}

.review-box {
  min-height: 0!important;
  margin: 20px 0;
}


.review-box .mdl-card__title {
  background-color: #4db6ac;
}

.individual-star-rating {
  font-size: 20px;
}

.reviewer {
  display: flex;
  flex-direction: row;
}

.reviewer.mdl-card__supporting-text {
  border-top: 1px solid rgba(0,0,0,.1);
}

.reviewer .gravatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-details {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.submission-info {
  margin-left: 20px;
}

#timer {
  margin: 20px auto;
}
