body {
  width: 100%;
}

h1 {
  font-family: 'Freckle Face', cursive;
  font-size: 1em;
}

h2 {
  text-align: center;
}

a {
  text-decoration: none;
}

#search-location-index{
  width: 145%;
  margin-top: 10px;
  height: 100%;
}

.home .mdl-layout__content {
  background: url("index_picture.jpg") no-repeat center center fixed;
  background-size: cover;
}

#slogan {
  font-style: italic;
}


.mdl-layout__header-row .mdl-navigation__link {
  color: #FFF;
}

.alert {
  margin: 5px auto;
}

.mdl-layout__header-row .mdl-layout-title a {
  color: #FFF;
}

.mdl-layout-title a {
  text-decoration: none;
  color: #424242;
  font-size: 1.8em;
}

.location-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 2em;
}

.quick-find-list {
  min-height: 50px;
  margin: 15px auto;
  background-color: #F5F6FF;
}

.quick-list-name {
  color: $color-secondary-text;
}

.quick-list-address {
  color: $color-primary;
}

.quick-find-container-1 {
  margin: 12px;
  font-size: 18px;
}

.quick-find-container-2 {
  font-size: 14px;
}

.mdl-button__ripple-container {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
  overflow: hidden;
}

.drawer-separator {
  height: 1px;
  background-color: #dcdcdc;
  margin: 8px 0;
}

.mdl-navigation__link.drawer_heading {
  color: #536dfe!important;
}

.search-icon {
  max-width: 20px;
}

.features {
  margin: 0;
}

.mdl-navigation a:hover {
  color: #424242;
}

/* Outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
    z-index: 100;
}

/* Inner */
.popup-inner {
    max-width:300px;
    width:90%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}

/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}

.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}

#search {
  font-size: 31px;
}

#search-form label {
  font-size: 16px;
}

.search-amenity-container {
  background-color: #536dfe;
  border: 1px solid #536dfe;
  border-radius: 15px;
  box-shadow: 2px 2px 2px #424C55;
  margin: 0 auto 5px auto;
  padding: 5px;
  text-align: center;
  width: 50%;
}

.mdl-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 2em;
}

.mdl-list__item.mdl-card {
  min-height: 50px;
  margin: 15px auto;
  background-color: #F5F6FF;
}

.mdl-list__item.mdl-card a{
  margin: 12px;
  font-size: 18px;
}

.search-amenity-container a {
  font-size: 27px;
  text-decoration: none;
  color: #fff;
}

.mdl-button {
  min-width: 165px;
}
.mdl-mini-footer {
  padding: 5px 16px;
}

.mdl-logo {
  margin-bottom: -10px;
}
