body {
  width: 100%;
}

.mdl-layout__header-row .mdl-navigation__link {
  color: #FFF;
}

.alert {
  margin: 5px auto;
}

.layout-transparent  {
  /*background: url('/shutteroo.com-sunset-beach-family.jpg') center / cover;*/
}

.mdl-layout__header-row .mdl-layout-title a {
  color: #FFF;
}

.mdl-layout-title a {
  text-decoration: none;
  color: #424242;
}



.mdl-button__ripple-container {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
  overflow: hidden;
}

.drawer-separator {
  height: 1px;
  background-color: #dcdcdc;
  margin: 8px 0;
}

.mdl-navigation__link.drawer_heading {
  color: $bold-accent-color!important;
}

.search-icon {
  max-width: 20px;
}
