body {
  width: 100%;
}

.layout-transparent  {
  /*background: url('/shutteroo.com-sunset-beach-family.jpg') center / cover;*/
}

.mdl-layout__header-row,
.mdl-layout__drawer-button .material-icons {
  color: #FFF;
}

.mdl-layout__header-row .mdl-layout-title a {
  color: #FFF;
}

.mdl-layout-title a {
  text-decoration: none;
  color: #424242;
}

#brown-alert {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}

.mdl-button__ripple-container {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
  overflow: hidden;
}

.search-icon {
  max-width: 20px;
}
