
.gravatar-header-username {
  ;
}

h2.user-heading {
  text-align: left;
}

h3.review-count-header{
  font-size:32px;
}

.user-edit-delete {
  margin-left: 1em;
}

.edit-user-div , .delete-user-div {
  margin-bottom: 10px;
}

a.review-title {
  text-decoration: none;
  color: $color-primary-text;
}

a.review-title:hover{
  color:#424C55;
}
.time-ago{
  font-size: 11px;
  color: $color-primary-text;
}

.user-profile-review{
  font-size: 16px;
  color: $color-primary-text;
}

.star-rating {
  margin-bottom: 20px;
}

.helpful_points {
  font-size: 11px;
  color: $color-primary-text;
}
.helped{
  font-size: 11px;
  color: $color-primary-text;
}
