h3.review-count-header{
  font-size:32px;
}

.edit-user-div {
  margin-left: 15px;
}

a.review-title {
  text-decoration: none;
  color: #4caf50;
}

a.review-title:hover{
  color:#424C55;
}
.time-ago{
  font-size: 11px;
  color: #4caf50;
}

.user-profile-review{
  font-size: 16px;
  color: #4caf50;
}

.star-rating {
  margin-bottom: 20px;
}

.helpful_points {
  font-size: 11px;
  color: #4caf50;
}
.helped{
  font-size: 11px;
  color: #4caf50;
}
