h3.review-count-header{
  font-size:32px;
}

.user-edit-delete {
  margin-left: 1em;
}

.edit-user-div a, .delete-user-div a{
  border: 1px solid black;
  box-shadow: 2px 2px 2px #424C55;
  border-radius: 15px;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  display: inline-block;
  color:#4caf50;
  width:100px;
}

a.review-title {
  text-decoration: none;
  color: #4caf50;
}

a.review-title:hover{
  color:#424C55;
}
.time-ago{
  font-size: 11px;
  color: #4caf50;
}

.user-profile-review{
  font-size: 16px;
  color: #4caf50;
}

.star-rating {
  margin-bottom: 20px;
}

.helpful_points {
  font-size: 11px;
  color: #4caf50;
}
.helped{
  font-size: 11px;
  color: #4caf50;
}
