<%= form_for Location.new do |f| %>
   <div class="check-in-page-amenity">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="location_changing_stations">
        <input type="checkbox" name="location[changing_stations]" id="location_changing_stations" class="mdl-checkbox__input" />
        <span class="mdl-checkbox__label">Changing Stations</span>
      </label>
    </div>
    <div class="check-in-page-amenity">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="location_nursing_stations">
        <input type="checkbox" name="location[nursing_stations]" id="location_nursing_stations" class="mdl-checkbox__input" />
        <span class="mdl-checkbox__label">Nursing Stations</span>
      </label>
    </div>
    <div class="check-in-page-amenity">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="location_family_restrooms">
        <input type="checkbox" name="location[family_restrooms]" id="location_family_restrooms" class="mdl-checkbox__input" />
        <span class="mdl-checkbox__label">Family Restrooms</span>
      </label>
    </div>
    <div class="check-in-page-amenity">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="location_restrooms">
        <input type="checkbox" name="location[restrooms]" id="location_restrooms" class="mdl-checkbox__input" />
        <span class="mdl-checkbox__label">Restrooms</span>
      </label>
    <div class="check-in-page-amenity">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="location_play_areas">
        <input type="checkbox" name="location[play_areas]" id="location_play_areas" class="mdl-checkbox__input" />
        <span class="mdl-checkbox__label">Play Areas</span>
      </label>
    </div>
    <div class="check-in-page-amenity">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="location_water_fountains">
        <input type="checkbox" name="location[water_fountains]" id="location_water_fountains" class="mdl-checkbox__input" />
        <span class="mdl-checkbox__label">Water Fountains</span>
      </label>
    </div>
    <div class="check-in-page-amenity">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="location_high_chairs">
        <input type="checkbox" name="location[high_chairs]" id="location_high_chairs" class="mdl-checkbox__input" />
        <span class="mdl-checkbox__label">High Chairs</span>
      </label>
    </div>
    <div class="check-in-page-amenity">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="location_cribs">
        <input type="checkbox" name="location[cribs]" id="location_cribs" class="mdl-checkbox__input" />
        <span class="mdl-checkbox__label">Cribs</span>
      </label>
    </div>
    <div>
      <%= f.submit "Add This Location!", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast" %>
    </div>
<% end %>
