<div class="location_ratings">
  <div class="star_rating">
    Overall: <%= location.star_rating("overall_rating") %>
  </div>
  <div class="star_rating">
    Cleanliness: <%= location.star_rating("cleanliness_rating") %>
  </div>
  <div class="star_rating">
    Spaciousness: <%= location.star_rating("spaciousness_rating") %>
  </div>
</div>