<div class="location_ratings">
  <div class="rating-category">
    Overall: <span class="star-rating"><%= location.star_rating("overall_rating") %></span>
  </div>
  <div class="rating-category">
    Cleanliness: <span class="star-rating"><%= location.star_rating("cleanliness_rating") %></span>
  </div>
  <div class="rating-category">
    Spaciousness: <span class="star-rating"><%= location.star_rating("spaciousness_rating") %></span>
  </div>
</div>
