<h2>Find Amenities</h2>

<div>
  <% @locations.each do |location| %>
    <div>
      <%= link_to location.name, location_path(location) %> <br>
      <%= location.formatted_address %>
    </div>
  <% end %>
</div>
