<% provide(:title, amenity_name(@amenity)) %>
<h2><%= yield(:title) %></h2>

<div class="location-list">
  <% @locations.each do |location| %>
    <div class='quick-find-list mdl-card mdl-shadow--2dp'>
      <div class='quick-find-container-1'>
      <%= link_to location.name, location_path(location), class: 'quick-list-name' %> <br>
      </div>
      <div class='quick-find-container-2'>
      <%= link_to location.formatted_address, location.directions_url, class: 'quick-list-address' %>
      </div>
    </div>
  <% end %>
</div>
