<div class="demo-grid-1 mdl-grid">
  <div class="mdl-cell mdl-cell--4-col"></div>
  <div class="mdl-cell mdl-cell--4-col">
    <div>
      <div>
        <form id="search-form">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
            <input class="mdl-textfield__input" id="search" type="text">
            <label class="mdl-textfield__label" for="sample3">Enter a location</label>
          </div>
          <input type="image" src="/ic_search_black_24dp_2x.png" value="Search" class="search-icon">
        </form>
        <select name="distance" form="search">
          <option value=".5">within .5 mile</option>
          <option value="5">within 5 mile</option>
          <option value="50">within 50 mile</option>
          <option value="anywhere">anywhere</option>
        </select>
      </div>
      <div id="search-results-container">
      </div>
    </div>
  </div>
  <div class="mdl-cell mdl-cell--4-col"></div>
</div>
