<h2>Home page</h2>

<div>
  <div>
    <form id="search-form">
      <input id="search" type="text" name="query">
      <input type="submit" value="Search">
    </form>

    <select name="distance" form="search">
      <option value=".5">within .5 mile</option>
      <option value="5">within 5 mile</option>
      <option value="50">within 50 mile</option>
      <option value="anywhere">anywhere</option>
    </select>
  </div>

  <div id="search-results-container">

  </div>

</div>
