<h3>Thank you for your submission!</h3>

<h4>Your submission is currently under review! It will be updated after we have validated the information!</h4>
<div class="submission-info">
    <%= render partial: 'heading', locals: {location: @location} %>
<div>
  <% if @location.amenities? %>
      <%= render partial: 'amenities', locals: {location: @location} %>
    <% end %>
</div>

</div>
<h5>You will be automatically redirected in 10 seconds... or </h5>

<%= button_to 'RETURN HOME', root_path %>

<!-- <meta HTTP-EQUIV="REFRESH" content="10; url=http://kid-friendly.herokuapp.com/"> -->
