<!-- <meta HTTP-EQUIV="REFRESH" content="10; url=http://kid-friendly.herokuapp.com/"> -->
<div class='submission-msg'>
  <h4>Thank you for your submission!</h4>
  <h6>Your submission is currently under review! It will be updated after we have validated the information!</h6>
</div>
<div class="submission-info">
    <%= render partial: 'heading', locals: {location: @location} %>
  <div>
    <% if @location.amenities? %>
        <%= render partial: 'amenities', locals: {location: @location} %>
    <% end %>
  </div>
</div>
<p id='timer'> <script type="text/javascript">countDown();</script> </p>

<p>or click here to return home now...</p>
<%= button_to 'RETURN HOME', root_path, method: :get %>

