<h1>Thank you for your submission!</h1>

<h2>Your submission is currently under review! It will be updated after we have validated your changes!</h2>



<h3>You will be automatically redirected in 3 seconds... or </h3>
<%= button_to 'RETURN HOME', root_path %>

<meta HTTP-EQUIV="REFRESH" content="3; url=http://www.yourdomain.com/index.html">
